# Python Class 01

In [1]:
# first python program

print("Hello World")

Hello World

In [2]:
# No need of var input or double in pyhton
# Variable Declaration
# Variable Initialization
# Variable is allocating a chunks/space/memory
# String is basically the group of characters

name = "Muhammad Manzar Alam Ansari"
print(name)

Muhammad Manzar Alam Ansari

In [3]:
# Syntax is how you can write your code
# No syntax error if the numeric number after the variable name
# syntax error if the numeric number before the variable name
# Semi-colon is optional in python

a1 = 5
b2 = 6
c = a1 + b2
print(c)

11

In [4]:
# String always in inverted commas
# Python is a K-sensitive language

first_name = "Manzar"
last_name = "Alam"
full_name = first_name + " " + last_name
print(full_name)

Manzar Alam

In [5]:
# When we concatinate string and numeric number so, it will be error

a = "6"
b = "3"
c = a + b
print(c)

63

In [6]:
# Two strings can not be multiplied whereas string and numeric number can be multiplied

a = "5"
b = 4
c = a * b
print(c)

5555

In [7]:
# Adding

num = .088
total = num + 700
print(total)

700.088

In [8]:
# Subtracting

a = 20 - 50
print (a)

-30

In [9]:
# key words can not be used as variable such as global, elif etc

globa = 5
print(globa)

5

In [10]:
# in pyhton it is not necessary to write print

a = 10 % 2
a

0

In [11]:
# Modulus Operator

b = 11 % 5
print(b)

1

In [12]:
# Adding

a = 29
a = 29 + 8
print(a)

37

In [13]:
# Increment

a = 46
a += 4
print(a)

50

In [14]:
# DMAS

total_cost = 1 + 3 * 5
print(total_cost)

16

In [15]:
# BODMAS

total_cost = (1 + 3) * 5
print(total_cost)

20

In [16]:
# single division operator gives float value if the number is exactly divisible

total_cost = (1 + 3) * 5 / 4
print(total_cost)

5.0

In [17]:
# double division operator gives numeric value if the number is exactly divisible

total_cost = (1 + 3) * 5 // 4
print(total_cost)

5

In [18]:
# we can use single inverted comma instead of double inverted comma, it will not be error 

a = "name"
b = 'My'
c = 'Manzar'
d = b + ' ' + a + " " + c
print(d)

My name Manzar

In [19]:
# Concatination of Strings

print("My name is" + " 5")

My name is 5

In [20]:
# Power Operator

a = 5 ** 3
print(a)

125

In [21]:
# Multiplication of string and integer

print('Ha' * 4)

HaHaHaHa

In [22]:
# Input always takes the value as string

a = int(input("Enter your value "))
b = 15
c = a + b
print(c)

Enter your value 9
24

In [23]:
# Use int() function to convert string into integers

a = input("Enter your value ")
b = 15
c = int(a) + b
print(c)

Enter your value 14
29

In [24]:
# (''' ''') and ("""" """) for multiple line comments
'''
My name is manzar
I am quite well
'''

"""
I am Learning Python language online
included python core, numpy and pandas
"""

a = input("Enter your value ")
b = 15
c = int(a) + b
print(c)

Enter your value 5
20